*{
	margin:0;
	padding:0;
}
body {
    background-image: url("bankpicture.jpeg");
    background-repeat: no-repeat;
  }
#nav-bar
{
	background-color:#1b021bea;
	position: sticky;
	top:0;
	z-index:10;
	float: right;
}

.nav-link:hover{
    background-color:rgb(12, 187, 193);
}
.navbar
{

    padding: 0 !important;
}
#navbar-brand
{
	color: #ffffff;
	height:40px;
	padding-left:20px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
color:#fff !important;
font-weight:600;
float:right;
text-align:left;
}
/* navbar css ends here  */
#main
{
	text-align: center;
background-color:rgb(235, 235, 245);
}
.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgba(17, 5, 13, 0.616)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(64, 64, 68)!important;
} 